@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/sprite";
//@include sprites($spritesheet-sprites);

html {
  font-family: 'Cormorant', Arial, serif;
  font-size: $base-font-size;
  height: 100%;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-image:url("../images/common/body-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: $brown;
}

*,
*::before,
*::after { box-sizing: border-box; outline:none}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: inherit;
  
}

h2 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 32px;
  color: inherit;
  line-height: 1;

}

h3 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 32px;
  color: inherit;
  line-height: 1;

}

.title {
  &--center {
    text-align: center;
  }
}

p, ul {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: inherit;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

.section {
  height:auto;
  background-color: $light;
  color: $brown;

  &--brown {
    background-color: #403422c4;
  }

  &--gray {
    background-image: url("../images/common/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $lightbrown;
  }
}

#top {
  height:100vh;
}

.list {
  margin-top: 24px;

  li {
    display: block;
    margin-right: 32px;
    flex: 1;

    &:last-child {
      margin-right: 0;
    }
  }

  &--line {
    display: flex;
    justify-content: space-between;
   }
}

input,
select,
button { outline: none; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content { flex: 1 0 auto; }

.container {
  margin: 0 auto;
  max-width: $content;
  width: 100%;
  padding: 0 15px;
}

//Модули
@import "modules/modules";


@media(max-width:1200px) {

  body {
    font-size: 14px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 24px;
  }

  .header {
    &__wrapper {
      grid-template-columns: 1fr 4fr;
      grid-template-columns: min-content, min-content;
      grid-template-areas: 
      "menu logo"
      "menu phone";
    }

    &__left {
      grid-area: menu;
    }

    &__center {
      grid-area: logo;
      margin: 0;
      margin-left:auto;
    }

    &__right {
      grid-area: phone;
    }

    .logo {
      text-align: right;

      &__small-text {
        display: none;
      }

      &__large-text {
        font-size: 32px;
      }
    }
  }

  .about {
    max-width: 100%;
  }

  .about__description {
    max-width: 100%;
    font-size: 20px;
  }

  .cooperation h2.title {
    margin-bottom: 32px;
  }

  .cooperation p.cooperation__description,
  .contacts p {
    font-size: 20px;
  }

  .cooperation p {
    font-size: 18px;
  }

  .filter__item {
    font-size: 16px;
    padding: 5px 20px;
  }

  .filter--video .filter__item:before {
    width: 20px;
    height: 20px;
    background-size: contain;
  }

  .filter--video .filter__item {
    padding: 5px 13px;
  }

  .documents__list {
    grid-gap:15px;
  }

  #top {
    height: 50vh;
  }

  .tabs__blocks {
    min-height: 460px;
    margin-top: -60px;
  }

  .tabs__header {
    z-index: 9999999999;
  }

  #timeline,
  #about {
    min-height: auto;
  }
  
  .contacts__info {
    padding-bottom: 70px;
  }

  .section {
    min-height: auto;
  }
}

@media(max-width:992px) {
  .documents__list {
    grid-template-columns: 1fr 1fr;
  }

  .documents__item {
    &:before,
    &:after {
      height: 30px;
    }
  }

  .tabs__blocks {
    min-height: 400px;
  }

  .simple-slider .slider-navigation {
    position: absolute;
    bottom:0;
  }

  .filter__item {
    font-size: 14px;
    padding: 5px 10px;
  }

  .tabs__header{
    padding: 8px 20px;
  }

  .header .logo__large-text {
    font-size: 24px;
  }

  .header__right .phone a{
    font-size: 18px;
  }

  .logo__large-text {
    letter-spacing: 0;
  }

  .header {
    padding-bottom: 10px;
  }
}

@media(max-width:720px) {
  h2.title,
  .cooperation h2.title,
  .contacts h2  {
    font-size: 32px;
  }

  .contacts__window .contacts__container .contacts__title,
  .documents h2,
  .title--center,
  .timeline__description {
    text-align: left;
  }

  .tabs__blocks {
    margin: 0;
    min-height: 100vw;
    width: 100%;
    padding-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .documents__list {
    grid-template-columns: 1fr 1fr;
  }

  .filter {
    flex-direction: column;

    &__column {
      margin-bottom:20px;
    }
  }

  .about__description {
    max-width: 100%;
    font-size: 16px;
  }

  p,
  .about__description li,
  .about__description p {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom:0;
    }
  }

  .about__item-wrapper {
    padding: 20px 20px 40px 20px;
  }

  .slider-navigation {
    bottom: 30px;
    left: 20px;
  }

  .contacts {
    &__wrapper {
      display: flex;
      flex-direction: column-reverse;
    }

    &__window {
      position: relative;
      margin: 0;
      max-width: 100%;
      right: 0;

      .contacts__container {
        padding:0 15px;
      }
    }

    .socials__title {
      font-size: 16px;
    }

    &__info {
      padding-bottom: 40px;
    }
  }

  .cooperation p.cooperation__description, .contacts p {
    font-size: 16px;
  }

  .contacts__window .contacts__container {
    min-height: auto;
    padding-bottom: 60px;
  }

  #map {
    width: 100%;
    height: 40vh;
  }

  .timeline__slides {
    padding: 20px 0;
    padding-top: 0;
  }

  .timeline__slider .slick-initialized .slick-slide {
    height: 60vw;
  }
}

@media (max-width:540px) {
  .documents__list {
    grid-template-columns: 1fr;
  }
}