header.header
    .container
        .header__wrapper
            .header__left
                .header__menu
                    nav.top-menu
                        .top-menu__button
                            .top-menu__button-line
                        ul.top-menu__list
                            li.top-menu__item
                                a(href="#top").top-menu__link Главная
                            li.top-menu__item
                                a(href="#about").top-menu__link О проекте
                            li.top-menu__item
                                a(href="#coop").top-menu__link Жилищно-строительный кооператив
                            li.top-menu__item
                                a(href="#timeline").top-menu__link Ход строительства
                            li.top-menu__item
                                a(href="#offers").top-menu__link Сезонные скидки
                            li.top-menu__item
                                a(href="#contacts").top-menu__link Контакты
                        
            .header__center
                .logo
                    .logo__small-text Жилой комплекс
                    .logo__large-text ЖК На Арсенальной
                    .logo__small-text комфорт-класс
            .header__right
                .phone
                    a(href="tel:+79008000000") + 7 900 800 00 00
    .header__round
        img(src="static/images/common/round.svg")