.about {
    max-width: 700px;
    position: relative;

    .slick-list {
        border:0;
        display: grid;
        grid-template-rows:1fr;
    }

    .slick-slide.about__item {
        display: grid;
    }

    &__item {
        margin-right: 30px;
        margin-left: 1px;
        grid-template-rows: 20px 1fr 20px;

        &:before {
            content:"";
            width: 100%;
            background-image: url("../images/common/block-large.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            display: block;
            height: 20px;
            background-position: top;
        }

        &:after {
            content:"";
            width: 100%;
            background-image: url("../images/common/block-large.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            display: block;
            height: 20px;
            background-position: bottom;
        }

        &-wrapper {
            background-color: $light;
            padding: 30px 67px 60px 67px;
        }
    }

    &__description {
        max-width: 500px;
        font-size: 22px;

        p {
            margin-bottom: 22px;
            line-height: 1.4;

            &:last-child{
                margin-bottom: 0;
            }
        }

        li {
            margin-bottom:10px;
            line-height: 1.4;

            &:last-child {
                margin-bottom:0;
            }
        }
    }


}

#about {
    height: auto;
    padding: 58px 0;
    
    .container {
        height:100%;
    }
}