.cooperation {
    padding:90px 0 100px 0;

    h2.title {
        max-width: 700px;
        margin-bottom: 62px;
        font-size: 42px;
        line-height: 1.2;
    }

    h3 {
        color: $light;
        font-size: 28px;
    }

    p {
        color: white;
        font-size: 20px;
        max-width: 750px;
    }

    p.cooperation__description {
        font-size: 22px;
        margin-bottom:28px;
        font-weight: bold;
        max-width: 700px;
        color: $lightbrown;
    }

    &__list {
        position: relative;
        padding-bottom:72px;
    }
    
    &__item {
        padding-right: 32px;
    }

    .slider-navigation {
        bottom: 0;
        left: 0;

        li {
            background-color: $light;
        }

        li.slick-active {
            background-color: $lightbrown;
            border: 4px solid $lightbrown;
        }
    }
}

#coop {
    height:auto;
    min-height: auto;
}