.socials {
    &__title {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: $dark;
        margin-bottom:32px;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }
    
    &__item a{
        width: 40px;
        height:40px;
        display: flex;
        background-color: $brown;
        border-radius: 50%;
        color: $light;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size:24px;
        cursor: pointer;
    }
}