// Colors
$white: #fff;
$black: #000;
$dark: #4C5053;
$light: #EEEDF2;
$brown: #403422;
$lightbrown: #9E8A70;

// Sizes
$base-font-size: 16px;
$medium-font-size: 20px;
$large-font-size: 24px;

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content: 1150px;

// Fonts
