header { flex: 0 0 auto; }

.header {
    padding-top:10px;
    background-color: $light;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    &__wrapper {
        display:grid;
        grid-template-columns: 1fr 4fr 1fr;
        z-index: 10;
    }

    &__center {
        display: flex;
        align-items: center;
    }

    &__left {
        margin-right: 20px;
        display: flex;
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__round {
        position: absolute;
        top: 100%;
        transform: translateY(-50%);
        z-index: -1;
    }
}