.logo {
    text-align: center;
    margin: auto;

    &__large-text {
        font-size: 46px;
        text-transform: uppercase;
        font-weight: bold;
        color: $brown;
        line-height: 1;
    }

    &__small-text {
        color:$lightbrown;
        line-height: 1;
        font-style: italic;
        font-size: 18px;
        font-weight: 700;
        margin-bottom:5px;
    }

    
}