.logo {
    text-align: center;
    margin: auto;

    &__large-text {
        font-size: 50px;
        text-transform: uppercase;
        font-weight: bold;
        color: $brown;
        line-height: 1;
        letter-spacing: 2px;
    }

    &__small-text {
        color:$lightbrown;
        line-height: 1;
        font-style: italic;
        font-size: $medium-font-size;
        font-weight: 700;
    }

    
}